# Fichiers Python
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Environnements virtuels
.venv/
env/
venv/
.suivi_homol/

# MacOS
.DS_Store

# Ignorer les fichiers OCR JSON
data/ocr/*.json
